<?xml version="1.0" encoding="ISO-8859-1" ?>
<Events>
	<!-- <water name="agua-N" script="agua/agua-N.lua" />  -->
	<!-- <water name="agua-M" script="agua/agua-M.lua" />  -->
	<!-- <water name="agua-A" script="agua/agua-A.lua" />  -->
	<event name="up-level" script="up-level/up-level.lua" />
	<event name="duel_letter" script="duel_letter.lua" />
	<event name="nightmare" script="nightmare.lua" />
	<event name="hallOfKefra" script="hallOfKefra.lua" />
</Events>
